In [ ]:
import pandas as pd
import os

Menggabungkan seluruh file .csv

In [ ]:
directory = '/content/'

dfs = []

for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.to_csv('/content/combined_file.csv', index=False)

In [ ]:
print("Tipe data setiap kolom:")
print(df.dtypes)

print("\nJumlah nilai null di setiap kolom:")
print(df.isnull().sum())

Tipe data setiap kolom:
movie_id        object
movie_name      object
year            object
certificate     object
runtime         object
genre           object
rating         float64
description     object
director        object
director_id     object
star            object
star_id         object
votes          float64
gross(in $)    float64
dtype: object

Jumlah nilai null di setiap kolom:
movie_id           0
movie_name         0
year            7591
certificate    26935
runtime        13320
genre              0
rating         15523
description        0
director        3065
director_id     3065
star            7130
star_id         6354
votes          15523
gross(in $)    35336
dtype: int64

In [ ]:
genre_counts = df['genre'].value_counts()

print(genre_counts)

genre
Horror                         16050
Horror, Thriller                3501
Comedy, Horror                  1988
Horror, Mystery, Thriller       1311
Drama, Horror, Thriller         1034
                               ...
Action, Thriller, War              1
Drama, Action, Horror              1
Animation, Fantasy, History        1
Horror, Mystery, Action            1
Mystery, Crime, Horror             1
Name: count, Length: 342, dtype: int64

Drop Kolom Yang Tidak Diperlukan

In [ ]:
columns_to_drop = ['certificate', 'director_id', 'star_id', 'gross(in $)']

df = df.drop(columns=columns_to_drop)

In [ ]:
another_columns_to_drop = ['movie_id', 'description']

df = df.drop(columns=another_columns_to_drop)

print(df.head())

print (df.shape[0])

           movie_name  year  runtime                      genre  rating  \
0  Knock at the Cabin  2023  100 min  Horror, Mystery, Thriller     6.4
1            The Menu  2022  107 min           Horror, Thriller     7.2
2               M3GAN  2022  102 min   Horror, Sci-Fi, Thriller     6.4
3         Viking Wolf  2022   97 min           Horror, Thriller     5.1
4       Infinity Pool  2023  117 min     Crime, Horror, Mystery     6.5

             director                                               star  \
0  M. Night Shyamalan  Dave Bautista, \nJonathan Groff, \nRupert Grin...
1          Mark Mylod  Ralph Fiennes, \nAnya Taylor-Joy, \nNicholas H...
2    Gerard Johnstone  Allison Williams, \nViolet McGraw, \nRonny Chi...
3       Stig Svendsen  Liv Mjönes, \nElli Rhiannon Müller Osborne, \n...
4  Brandon Cronenberg  Alexander Skarsgård, \nMia Goth, \nCleopatra C...

      votes
0   17991.0
1  232052.0
2   62458.0
3    3872.0
4    6955.0
36682

Membersihkan Data

In [ ]:
print("Tipe data setiap kolom:")
print(df.dtypes)

print("\nJumlah nilai null di setiap kolom:")
print(df.isnull().sum())

Tipe data setiap kolom:
movie_name     object
year           object
runtime        object
genre          object
rating        float64
director       object
star           object
votes         float64
dtype: object

Jumlah nilai null di setiap kolom:
movie_name        0
year           7591
runtime       13320
genre             0
rating        15523
director       3065
star           7130
votes         15523
dtype: int64

In [ ]:
df_cleaned = df.dropna()

num_rows = df_cleaned.shape[0]

print(f"Jumlah baris data setelah menghapus baris dengan nilai null: {num_rows}")

print(df_cleaned.head())

Jumlah baris data setelah menghapus baris dengan nilai null: 19474
           movie_name  year  runtime                      genre  rating  \
0  Knock at the Cabin  2023  100 min  Horror, Mystery, Thriller     6.4
1            The Menu  2022  107 min           Horror, Thriller     7.2
2               M3GAN  2022  102 min   Horror, Sci-Fi, Thriller     6.4
3         Viking Wolf  2022   97 min           Horror, Thriller     5.1
4       Infinity Pool  2023  117 min     Crime, Horror, Mystery     6.5

             director                                               star  \
0  M. Night Shyamalan  Dave Bautista, \nJonathan Groff, \nRupert Grin...
1          Mark Mylod  Ralph Fiennes, \nAnya Taylor-Joy, \nNicholas H...
2    Gerard Johnstone  Allison Williams, \nViolet McGraw, \nRonny Chi...
3       Stig Svendsen  Liv Mjönes, \nElli Rhiannon Müller Osborne, \n...
4  Brandon Cronenberg  Alexander Skarsgård, \nMia Goth, \nCleopatra C...

      votes
0   17991.0
1  232052.0
2   62458.0
3    3872.0
4    6955.0

In [ ]:
print("\nJumlah nilai null di setiap kolom:")
print(df_cleaned.isnull().sum())

Jumlah nilai null di setiap kolom:
movie_name    0
year          0
runtime       0
genre         0
rating        0
director      0
star          0
votes         0
dtype: int64

Membagi kolom genre yang memiliki beberapa genre menjadi beberapa baris dengan satu genre untuk setiap baris

In [ ]:
df_cleaned['genre'] = df_cleaned['genre'].str.split(', ')

df_exploded = df_cleaned.explode('genre')

print(df_exploded)

                           movie_name  year  runtime     genre  rating  \
0                  Knock at the Cabin  2023  100 min    Horror     6.4
0                  Knock at the Cabin  2023  100 min   Mystery     6.4
0                  Knock at the Cabin  2023  100 min  Thriller     6.4
1                            The Menu  2022  107 min    Horror     7.2
1                            The Menu  2022  107 min  Thriller     7.2
...                               ...   ...      ...       ...     ...
36623              Anak Titipan Setan  2023  108 min    Horror     5.1
36640                  Gairah Malam 2  1995   73 min     Drama     5.2
36640                  Gairah Malam 2  1995   73 min    Horror     5.2
36640                  Gairah Malam 2  1995   73 min   Mystery     5.2
36646  Inside: A Chinese Horror Story  2017   89 min    Horror     4.8

                                      director  \
0                           M. Night Shyamalan
0                           M. Night Shyamalan
0                           M. Night Shyamalan
1                                   Mark Mylod
1                                   Mark Mylod
...                                        ...
36623  Erwin Arnada, \nWahyuddin Hasani Widodo
36640                             Steady Rimba
36640                             Steady Rimba
36640                             Steady Rimba
36646                                 Lili Bai

                                                    star     votes
0      Dave Bautista, \nJonathan Groff, \nRupert Grin...   17991.0
0      Dave Bautista, \nJonathan Groff, \nRupert Grin...   17991.0
0      Dave Bautista, \nJonathan Groff, \nRupert Grin...   17991.0
1      Ralph Fiennes, \nAnya Taylor-Joy, \nNicholas H...  232052.0
1      Ralph Fiennes, \nAnya Taylor-Joy, \nNicholas H...  232052.0
...                                                  ...       ...
36623  Gisella Anastasia, \nIngrid Widjanarko, \nAnni...      10.0
36640  Malfin Shayna, \nTaffana Dewi, \nChairil J.M.,...      20.0
36640  Malfin Shayna, \nTaffana Dewi, \nChairil J.M.,...      20.0
36640  Malfin Shayna, \nTaffana Dewi, \nChairil J.M.,...      20.0
36646                    Marc Philip Goodman, \nYulai Lü      55.0

[41694 rows x 8 columns]

<ipython-input-10-3216669422ed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['genre'] = df_cleaned['genre'].str.split(', ')

In [ ]:
num_rows =df_exploded.shape[0]

print(f"Jumlah baris data setelah memecah genre: {num_rows}")

Jumlah baris data setelah memecah genre: 41694

In [ ]:
df_exploded.to_csv('/content/film_clean.csv', index=False)